<footer class="footer">
	<div class="container col-md-4 col-md-offset-4">
		<p class="text-muted">
			Made with love and coffee by another IB student
			<span>
				<a href="https://github.com/{{ site.github_username }}" aria-label="Github"><i class="fa fa-lg fa-github"></i></a>
			</span>
		</p>
		<ul>
			<li><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0;margin-bottom:0" src="/assets/img/cc4-0.png" /></a></li>
			<li><a href="{{ site.url }}">Home</a></li>
			<li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
			<li><a href="{{ "/privacy" | prepend: site.baseurl }}">Privacy policy</a></li>
		</ul>
	</div>
</footer>
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ "/assets/js/fixedsticky.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<!--><script src="{{ "/assets/js/main.js" | prepend: site.baseurl | prepend: site.url }}"></script><-->
